body {
    background-color: black;
    color: green;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#console {
    padding: 10px;
    white-space: pre-wrap; /* Preserves whitespace formatting */
}

#cursor {
    color: green;
    display: inline;
    font-weight: bold;
}

.vis {
    visibility: hidden;
}
